.sidebar {
  text-align: center;
  flex: 1;
  border: 1px solid black;
}

li {
  margin: 5px;
  padding: 5px;
  border: 1px solid black;
  list-style-type: none;
  background-color: inherit;
}

ul {
  padding-left: 0;
}
