.add_note {
  width: 25vw;
  margin: auto;
}

h2 {
  text-align: center;
}

.form_group {
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

.button_group {
  display: flex;
  justify-content: flex-end;
  margin: 5px;
}